.wrapper {
    display: flex;
    justify-content: center;
}
.grid {
    width: 630px;
    height: 640px;
    background-color: #ff9933;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    border: 2px solid black;
}

.grid div {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.block{
    width: 40px;
    height: 40px;
    background-color: #ccffff;
    margin-right: 5px;
    box-shadow: 5px 5px;
}   

.next-block {
    width: 140px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ff9933;
    border: 2px solid black;
}

.landed-block{
    width: 40px;
    height: 40px;
    background-color: red;
    margin-right: 5px;
    box-shadow: 5px 5px;
}

.score-button {
    width: 140px;
    height: 150px;
    background-color: #ff9933;
    border: 2px solid black;
    margin-left: 10px;
    text-align: center;
}

.score-button h3{
    font-family: 'Roboto', sans-serif;
}

.score-button p {
    font-family: 'Roboto', sans-serif;
}

.score-button button {
    background-color: #99ff66;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 5px;
}

